header{
  margin-top: 5rem;
  margin-bottom: 4rem;
  .container{
    @include flex(row, center, space-between);
    nav{
      ul{
        display: flex;
        li{
          margin-right: 3.2rem;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}