main{
  .section-hero{
    .container{
      .text{
        h1{
          color: $text-color;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-size: 8rem;
          font-weight: 700;
          line-height: 10.9rem;
          letter-spacing: -0.03rem;
          text-align: center;
        }
        h2{
          color: $button;
          text-shadow: -1px -1px 0 $button, 1px -1px 0 $button, -1px 1px 0 $button, 1px 1px 0 $button;
          font-size: 8rem;
          font-weight: 700;
          line-height: 10.9rem;
          letter-spacing: -0.03rem;
          text-align: center;
        }
      }
      .image{
        width: 100%;
        height: 61.5vh;
        display: flex;
        
      }
    }
  }
}