.menu-item{
  color: $text-color;
  font-size: 1.4rem;
  font-weight: 500;
}

.button-coffee{
  color: $text-color;
  background: transparent;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  
  border: 1px solid $button;
  border-radius: 0.6rem;
  padding: 1.1rem 3.8rem;
}