*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

body{
  background-color: $background;
}

img{
  max-width: 100%;
}

html{
  font-size: 62.5%;
}

button{
  cursor: pointer;
}